streamlit
openai
langchain
langchain-openai
langchain-community
langchain-anthropic
langchain-groq
huggingface-hub
faiss-cpu
tiktoken
pydantic
anthropic
groq
PyPDF2
pypdf
python-dotenv
PyMuPDF
pandas
matplotlib
plotly
seaborn
statsmodels
scikit-learn
requests
beautifulsoup4
SpeechRecognition
Pillow
